@model IEnumerable<MenuItem>

@{
    ViewData["Title"] = "Menu items Index";
}

<div class="border" style="background-color:white;border:solid 1px #ddd;border-radius:10px;padding:30px;margin-bottom:30px;">
    <div class="row">
        <div class="col-6">
            <h1 class="text-info">Menu Items List</h1>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" model="@ViewData["CreateEditButtons"]" />
        </div>
    </div>

    <div>
        @if (!Model.Any())
        {
            <p class="w-100 text-center text-danger" style="font-size:24px;">
                No Menu Items
            </p>
        }
        else
        {
            <table class="table table-striped border table-dark">
                <tr class="table table-secondary">
                    <th style="width:150px;">
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th style="width:300px;">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                    <th style="width:75px;">
                        @Html.DisplayNameFor(m => m.Price)
                    </th>
                    <th style="width:50px;height:50px;">
                        @Html.DisplayNameFor(m => m.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.CategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.SubCategoryId)
                    </th>
                    <th style="width:150px;">
                        Action
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(item.Name.Length>50?$"{item.Name.Substring(0,50)} ...": item.Name)
                        </td>
                        <td>
                            @(item.Description.Length>150?$"{item.Description.Substring(0,150)} ...": item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Price)
                        </td>
                        <td style="width:50px;">
                            <img src="@item.Image" alt="@item.Image" width="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.SubCategory.Name)
                        </td>
                        <td style="width:150px;">
                            <partial name="_OperationsActionButtonsPartial" model="@(new object[] {item.Id,ViewData["CreateEditButtons"] })" />
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                var result = confirm('Are you sure that you need to delete this Item');

                if (result) {
                    $.ajax({
                        url: '/Admin/MenuItems/delete/' + btn.data('id'),
                        success: function () {
                            btn.parents('tr').fadeOut();
                            toastr.success('Item is deleted');
                        },
                        error: function () {
                            toastr.error('Something went wrong!');
                        }
                    });
                }
            });
        });
    </script>
}