@model IEnumerable<SubCategory>

@{
    ViewData["Title"] = "Sub Categories Index";
}

<div class="whiteBackground border">
    <div class="row">
        <div class="col-6">
            <h1 class="text-info">sub Categories List</h1>
        </div>
        <div class="col-6 text-right">
            <partial name="_CreateButtonPartial" model="@ViewData["CreateEditButtons"]" />
        </div>
    </div>

    <div>
        @if (!Model.Any())
        {
            <p class="w-100 text-center text-danger" style="font-size:24px;">
                No Sub Categories
            </p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.category.Name)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(item.Name.Length>50?$"{item.Name.Substring(0,50)} ...": item.Name)
                        </td>
                        <td>
                            @(item.category.Name.Length>50?$"{item.category.Name.Substring(0,50)} ...": item.category.Name)
                        </td>
                        <td style="width:150px;">
                            <partial name="_OperationsActionButtonsPartial" model="@(new object[] {item.Id,ViewData["CreateEditButtons"] })" />
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                var result = confirm('Are you sure that you need to delete this category');

                if (result) {
                    $.ajax({
                        url: '/Admin/SubCategories/delete/' + btn.data('id'),
                        success: function () {
                            btn.parents('tr').fadeOut();
                            toastr.success('Sub Category is deleted');
                        },
                        error: function () {
                            toastr.error('Something went wrong!');
                        }
                    });
                }
            });
        });
    </script>
}